body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

.netflixlogo {
  width: 100px;
  height: 100px;
  margin-right: 30px;
  margin-top: 0px;
  cursor: pointer;
  margin-left: 25px;
  margin-right: 50px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(20, 20, 20);
  z-index: 10;
  backdrop-filter: blur(10px);
  height: 60px;
}

.navlinks > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0;
  margin-left: 150px;
  z-index: 1;
}

.navlinks > ul > li {
  list-style: none;
}

.navlinks > ul > li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 8px 12px;
}

.navlinks > ul > li a:hover {
  color: rgb(133, 133, 133);
}

.rest {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
  z-index: 7;
  margin-right: 300px;
}

.rest img,
.lupa,
.bell {
  width: 22px;
  height: 22px;
  cursor: pointer;
  filter: invert(1);
  z-index: 6;
  margin: 0;
  display: block;
}

.lupa {
  z-index: 6;
  margin: 100px;
  margin-left: auto;
}
.lupa:hover,
.bell:hover {
  filter: invert(0.7);
}

.bell {
  z-index: 6;
}

.iconclass {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 6;
}

.arrow {
  cursor: pointer;
  z-index: 6;
  margin-right: 10px;
  width: 5;
  height: 10px;
  filter: invert(1);
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.arrow:hover {
  transform: rotate(180deg);
  visibility: visible;
  opacity: 1;
}

.background {
  background-image: url("squidgame.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  background-color: #000;
}

.squidgamelogo {
  width: 450px;
  height: 230px;
  position: absolute;
  z-index: 7;
  right: 600px;
  top: 250px;
}

/* .odtworz {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: 90px;
  transform: translateY(-550px);
  z-index: 2000;
}

.odtworz::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 20px solid rgb(0, 0, 0);
}

.odtworz:hover {
  background-color: #e6e6e6;
  transform: translateY(-550px) scale(1.05);
}

.info {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: 20px;
  transform: translateY(-550px);
  z-index: 2000;
}

.info:hover {
  background-color: rgba(109, 109, 110, 0.4);
  transform: translateY(-550px) scale(1.05);
} */

.dexter {
  border-radius: 16px;
  margin-left: 30px;
  transition: transform 0.3s ease;
}
.dexter:hover {
  transform: scale(1.05);
}

.drhouse {
  border-radius: 16px;
  margin-left: 15px;
  transition: transform 0.3s ease;
}
.drhouse:hover {
  transform: scale(1.05);
}
.breakingbad {
  border-radius: 16px;
  margin-left: 15px;
  transition: transform 0.3s ease;
}
.breakingbad:hover {
  transform: scale(1.05);
}

.squidgamemovie {
  border-radius: 16px;
  margin-left: 15px;
  transition: transform 0.3s ease;
}
.squidgamemovie:hover {
  transform: scale(1.05);
}
.egzorcysta {
  border-radius: 16px;
  margin-left: 30px;
  transition: transform 0.3s ease;
}
.egzorcysta:hover {
  transform: scale(1.05);
}

.egzorcysta2 {
  border-radius: 16px;
  margin-left: 15px;
  transition: transform 0.3s ease;
}
.egzorcysta2:hover {
  transform: scale(1.05);
}

.korporacjakonspiracja {
  border-radius: 16px;
  margin-left: 15px;
  transition: transform 0.3s ease;
}
.korporacjakonspiracja:hover {
  transform: scale(1.05);
}

.nawiedzonybiznes {
  border-radius: 16px;
  margin-left: 15px;
  transition: transform 0.3s ease;
}
.nawiedzonybiznes:hover {
  transform: scale(1.05);
}

.notatniksmierci {
  border-radius: 16px;
  margin-left: 30px;
  transition: transform 0.3s ease;
}
.notatniksmierci:hover {
  transform: scale(1.05);
}

.latokiedy {
  border-radius: 16px;
  margin-left: 15px;
  transition: transform 0.3s ease;
}
.latokiedy:hover {
  transform: scale(1.05);
}
.makabryczne {
  border-radius: 16px;
  margin-left: 15px;
  transition: transform 0.3s ease;
}
.makabryczne:hover {
  transform: scale(1.05);
}
.dandadan {
  border-radius: 16px;
  margin-left: 15px;
  transition: transform 0.3s ease;
}
.dandadan:hover {
  transform: scale(1.05);
}

.odstepwprawo {
  margin-left: 90px;
}

.odstepwprawo > h2 {
  margin-left: 30px;
}

footer {
  background-color: #141414;
  padding: 40px 60px;
}

footer nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer nav ul li a {
  text-decoration: none;
  color: #999;
  font-size: 14px;
}

footer nav ul li a:hover {
  text-decoration: underline;
  color: #fff;
}

.odzielic {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 60px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}
